<% for comment in object %>
  <li style="list-style-type:none">
    <div class="comment">
      <div class="info">
        <%= comment.user.email %> <%= pretty_time comment.created_at %> 
        <% if signed_in? %>
          <%= link_to "reply", story_comment_path(@story, comment) %>
        <% end %>
      </div>      
      <%= comment.body %>

      <% if comment.comments.length > 0 %>
        <ul>
          <%= render "comments/comment", :object => comment.comments.chrono %>
        </ul>
      <% end %>
    </div>
  </li>
<% end %>

