<% for story in object %>
  <div class="story">
    <table>
      <tr>
        <td>
        <% if signed_in? %>
          <div class="vote_buttons"> 
            <table>
              <tr>
                <td>
                  <% if current_user.has_voted?(story, 1) %>
                    <%= image_tag("uplight.png", :size => "10x10") %>
                  <% else %>
                    <%= link_to image_tag("up.png", :size => "10x10"), story_upvote_path(story), :method => "post" %>
                  <% end %>
                </td>
              </tr>

              <tr>
                <td>
                  <% if current_user.has_voted?(story, -1) %>
                    <%= image_tag("downlight.png", :size => "10x10") %>
                  <% else %>
                    <%= link_to image_tag("down.png", :size => "10x10"), story_downvote_path(story), :method => "post" %>
                  <% end %>
                </td>
              </tr>
            </table>
          </div>
        <% end %>
        </td>

        <td>
          <%= link_to story.title, story.url %> <span class="shorturl">(<%= story.shorten_url %>)</span>   
          <div class="info">
            <%= pluralize(story.score, 'point') %> |
            <%= link_to pluralize(story.comment_count.to_s, "comment"), story_path(story) %> |
            Submitted <%= time_ago_in_words(story.created_at) %> ago by <%= story.user.email %>
          </div>
        </td>
      </tr>
    </table>
  </div>
<% end %>
