<% Story.chrono.each do |story| %>

  <div class="story">
    <%= link_to story.title, story.url %> <span class="url"><%= "(" + story.url + ")" %></span>
    <div class="info">
      Submitted <%= story.pretty_time %> by <%= story.user.email %>
    </div>      
  </div>
<% end %>

<%= will_paginate @stories %>
