<%= form_for @story, :html => { :class => "form" } do |f| %>
  <% @story.errors.full_messages.each do |msg| %>
    <div class="error"><%= msg %></div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <div class="actions">
      <%= f.submit "Create" %>
    </div>
  </div>
<% end %>
